* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
}

body {
  background-color: #fefdfd;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.gameOptionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.gameOption {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.gameOption label {
  margin: 0.5rem;
}

.gameOption select {
  border: none;
  margin: 0;
  height: 60px;
  width: 60px;
  padding: 0.2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.mainButton {
  border: none;
  background-color: #191919;
  color: white;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.mainButton::before,
.mainButton::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.mainButton::after {
  background-color: #FF0000;
  bottom: 0px;
  left: 0px;
}

.mainButton::before {
  content: '';
  background-color: #00FFFF;
  top: 0px;
  right: 0px;
}

.mainButton:hover::before {
  top: -2px;
  right: -2px;
}

.mainButton:hover::after {
  bottom: -2px;
  left: -2px;
}

.simpleButton {
  border: none;
  background-color: #191919;
  color: white;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.gameOverMessage {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}